<input type="file" (change)="onFileSelected($event)" />
<select name="dataType" id="dataType">
  <option value="311">Structures and improvements</option>
</select>

<table>
  <tr>
    <th>Beginning of Year Balance</th>
    <th>Additions</th>
    <th>Retirements</th>
    <th>Adjustments</th>
    <th>Transfers</th>
    <th>End of Year Balance</th>
  </tr>
  <tr>
    <td>{{ data311?.boyBalance }}</td>
    <td>{{ data311?.additions }}</td>
    <td>{{ data311?.retirements }}</td>
    <td>{{ data311?.adjustments }}</td>
    <td>{{ data311?.transfers }}</td>
    <td>{{ data311?.eoyBalance }}</td>
  </tr>
</table>

<router-outlet></router-outlet>
